#root {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  padding: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.dashboard-button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 300px;
  height: 50px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.dashboard-button:hover {
  filter: drop-shadow(0 0 2em #dddde4aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.presentation {
  padding-top: 10px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  min-width: 320px;
}
